@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.pr {
  display: none;

  @include tablet {
    display: block;
  }

  &-details {
    padding: 1rem;

    @include desktop {
      padding: 1rem 2rem;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-weight: 600;
      font-size: 1.25rem;
      color: $text-tertiary;

      &--caution {
        font-size: 0.75rem;
        display: block;
        font-weight: 400;
        color: $warning;
      }
    }

    &__table {
      box-shadow: inset 2px 4px 10px 1px rgba(245, 250, 255, 0.5);
      padding: 0.75rem 0;
      border-radius: 0.5rem;

      &-header {
        border-bottom: 2px solid $border-default;
      }

      &-body {
      }

      &-row {
        display: grid;
        grid-template-columns: 1.5fr repeat(5, 1fr);
        align-items: end;
        padding: 0 1rem;

        &:nth-child(even) {
          background-color: $bg-selected;
        }
      }

      &-name {
        text-align: left;
      }

      &-actions {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        &--content {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          font-size: 0.9rem;
        }

        &--edit {
          color: $text-blue;
        }

        &--remove {
          color: $danger;
        }

        &--header {
          text-align: center;
        }
      }

      &-cell {
        padding: 1rem 0;

        > span {
          display: block;
        }

        &--header {
          padding: 0 0 0.5rem;
        }
      }
    }

    &__nav {
      display: flex;
      gap: 0.5rem;
      padding: 1rem 0;
      justify-content: end;
    }
  }
}
