$text: #0c0505;
$background: #ffffff;
$primary: #000000;
$secondary: #69e5ff;
$accent: #0078c8;
$error: #ff6347;
$warning: #ffd700;
$success: #32cd32;
$white: #ffffff;
$black: #000000;
$alabaster: #fafafa;

// dark
//     text: #faf4f4;
//     background: #000000;
//     primary: #ffffff;
//     secondary: #007b94;
//     accent: #38afff;
//     error: #ff6347;
//     warning: #ffd700;
//     success: #32cd32;
