$background: #ffffff;
$text: #182127;
$background-secondary: #f5faff;
$text-secondary: #333333;
$text-tertiary: #6a7880;
$text-blue: #2046cf;
$border: #d6d6d6;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$black: #000000;
$white: #ffffff;

$button-bg: #2046cf;
$button-hover: #1937a3;
$button-text: white;
$button-border: #2046cf;

$button-bg-secondary: white;
$button-hover-secondary: #e6f3ff;
$button-text-secondary: #2046cf;
$button-border-secondary: #2046cf;

$input-color-default: #b2cfeb;
$input-color-active: #2046cf;
$placeholder: #5f789d;

$hover-default: #e8effd;
$border-default: #d4dde3;
$border-secondary: #b2cfeb;
$link-default: #2046cf;
$icon-default: #2046cf;
$icon-secondary: #fff;
$icon-tertiary: #f5faff;

$bg-active: #2046cf;
$bg-highlight: #e8effd;
$bg-selected: #f5faff;
$bg-disabled: #ecf0f3;
$bg-overlay: rgba(10, 51, 97, 0.5);
$bg-container1: #ecf0f3;
$bg-container2: #d4dde3;
$bg-container3: #92a0aa;
$bg-container4: #182127;

// :root {
//   --primary-background: #ffffff;
//   --primary-text: #000000;
//   --accent: #2997ff;
//   --secondary-background: #f5f5f7;
//   --secondary-text: #333333;
//   --border: #d6d6d6;
//   --success: #28a745;
//   --error: #dc3545;
//   --warning: #ffc107;
//   --black: #000000;
//   --white: #ffffff;

//   --accent-dark: #{darken(#2997ff, 20%)};
// }

// [data-theme="light"] {
//   --primary-background: #ffffff;
//   --primary-text: #000000;
//   --accent: #2997ff;
//   --secondary-background: #f5f5f7;
//   --secondary-text: #333333;
//   --border: #d6d6d6;
//   --success: #28a745;
//   --error: #dc3545;
//   --warning: #ffc107;
//   --black: #000000;
//   --white: #ffffff;

//   --accent-dark: #{darken(#2997ff, 20%)};
// }

// [data-theme="dark"] {
//   // Dark Theme Colors
//   --primary-background: #000000;
//   --primary-text: #ffffff;
//   --accent: #2997ff;
//   --secondary-background: #333333;
//   --secondary-text: #d6d6d6;
//   --border: #333333;
//   --success: #28a745;
//   --error: #dc3545;
//   --warning: #ffc107;
//   --black: #000000;
//   --white: #ffffff;

//   --accent-dark: #{darken(#2997ff, 20%)};
// }

$black: #000000;
$white: #ffffff;

$dark-gray: #333333;
$light-gray: #d6d6d6;
$very-light-gray: #f5f5f7;

$blue: #2997ff;
