@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-top {
    background-color: $background-secondary;

    @include tablet {
      height: 17.7rem;
    }
  }

  &-user {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-default;
    padding: 1rem;
    padding-bottom: 0.5rem;

    @include tablet {
      padding: 1rem 2rem;
      padding-bottom: 0.5rem;
    }

    &__left {
      &--name {
        display: block;
        font-weight: 600;

        @include tablet {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }

      &--date {
        font-size: 0.85rem;
      }
    }

    &__right {
      display: none;

      @include tablet {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &--icon {
        color: $link-default;
      }

      &--avi {
        width: 2rem;
        height: 2rem;
        border: 1px solid $border-default;
        border-radius: 100%;
        overflow: hidden;
      }

      &--img {
        width: 100%;
      }
    }
  }

  &-header {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
    }

    &__title {
      &--text {
        font-weight: 600;
        opacity: 0.3;
      }
    }

    &__icon {
      padding-right: 0.5rem;
    }

    &__actions {
      display: none;

      @include tablet {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  &-box {
    padding: 1rem;

    @include tablet {
      padding: 1rem 2rem;
      display: grid;
      grid-row-gap: 1rem;
    }

    &__currentdata {
      display: flex;

      &--tertiary {
        align-items: end;
        gap: 0.25rem;
      }

      &--var1 {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;

        @include tablet {
          gap: 0.5rem;
        }
      }

      &--title {
        font-size: 0.75rem;
        padding-bottom: 0.25rem;

        @include tablet {
          font-size: 1rem;
        }
      }

      &--salary-amount {
        display: block;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25rem;

        @include tablet {
          font-size: 2rem;
          line-height: 2rem;
        }
      }

      &--var2 {
        font-size: 0.6rem;
        line-height: 0.6rem;
        display: flex;
        align-items: center;
        gap: 0.2rem;

        @include tablet {
          font-size: 0.75rem;
          line-height: 0.75rem;
          padding-bottom: 0.2rem;
        }
      }

      &--arrow {
        display: flex;
        align-items: center;
        border-radius: 500px;
        padding: 1px 0.2rem;
        font-size: 0.5rem;
        gap: 1px;

        @include tablet {
          gap: 0.15rem;
          font-size: 0.6rem;
          background-color: $success;
          color: $white;
        }

        &-up {
          background-color: $success;
          color: $white;
        }

        &-down {
          background-color: $danger;
          color: $white;
        }
      }
    }

    &__wrapper {
      @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.25fr;
        grid-column-gap: 1rem;
        width: 100%;
      }
    }
  }

  &-bottom {
    padding: 1rem 2rem;
    margin-top: 5.5rem;
    height: 100%;

    &__body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1.25fr;
      column-gap: 1rem;

      &--left {
        grid-column: span 3;
      }

      &--right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        opacity: 0.7;
        justify-content: space-between;
      }
    }
  }
}

.card {
  background-color: $background;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease 0s;
  height: 8.3rem;
  overflow: hidden;

  &:hover {
    transform: scale(1.025);
    opacity: 0.9;
  }

  &-top {
    padding: 1rem 1rem 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__right {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      background-color: $icon-default;
      color: $icon-secondary;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__left {
      display: grid;
      grid-template-rows: 1fr 2fr;
      align-items: center;

      &-data {
        &2 {
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }

  &-bottom {
    border-top: 1px solid $border-default;
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    display: inline-block;
    width: 100%;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      color: $link-default;
    }

    &--icon {
      padding-left: 0.25rem;
      font-size: 0.7rem;
    }
  }

  &-compliance {
    display: none;

    @include tablet {
      display: block;
      padding: 1rem 0 0.5rem;
    }

    &__left {
      display: flex;
      flex-direction: column;
    }

    &__body {
      display: grid;
      align-items: center;
      height: calc(100% - 28px);
    }

    &__data {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      padding: 0 1rem;
    }

    &__left {
      display: grid;
      grid-template-rows: 1fr 1fr;
      height: 100%;

      &-top {
        background-color: $background-secondary;
      }
    }

    &__title {
      font-weight: 600;
    }

    &__icon {
      padding: 0 0.5rem;
      font-size: 0.5rem;
    }
  }

  &-events {
    padding: 1rem 0 0.5rem;
    transition: none;
    transform: none;

    &:hover {
      transition: none;
      transform: none;
      opacity: 1;
    }

    &__title {
      padding: 0 1rem 0.5rem;
      border-bottom: 1px solid $border-default;

      &--icon {
        color: $icon-default;
        padding-right: 0.3rem;
      }
    }

    &__body {
      display: grid;
      grid-template-rows: 1fr 1fr;
      height: calc(100% - 28px);
    }

    &__wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding: 0 1rem;

      &--primary {
        background-color: $warning;
      }

      &--secondary {
        opacity: 0.4;
        margin-top: -3px;
      }
    }

    &__due {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &--icon {
        width: 1.25rem;
        height: 1.25rem;

        &-2 {
          visibility: hidden;
        }
      }

      &-date {
        display: flex;
        flex-direction: column;

        &--date {
          color: $text-tertiary;
          font-size: 0.75rem;
          line-height: 0.75rem;

          &count {
            line-height: 1.1rem;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  &-graph {
    height: auto;
    padding: 1rem 0;

    &__img {
      width: 100%;
    }
  }

  &-prevpayroll {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 5px 15px -3px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: none;
    }

    &__top {
      display: flex;
      justify-content: space-between;

      &-left {
        &--icon {
          padding-right: 0.25rem;
          color: rgba($color: $icon-default, $alpha: 0.5);
        }
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      &--left {
        font-size: 2rem;
        font-weight: 600;
      }

      &--right {
        font-size: 0.75rem;
        padding: 0 0.35rem;
        background-color: rgba($color: $success, $alpha: 0.2);
        color: $success;
        border-radius: 500px;
        display: flex;
        align-items: center;

        &-icon {
          font-size: 0.2rem;
          padding-right: 0.25rem;
        }
      }
    }
  }

  &-pmtaccount {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    height: auto;
    gap: 1rem;

    &:hover {
      transform: none;
    }

    &__bottom {
      flex: 1;
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      column-gap: 1rem;
      align-items: center;
    }
  }

  &-gif {
    padding: 1rem;
    text-align: center;
    box-shadow: inset 2px -7px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
