@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.ps {
  display: none;

  @include tablet {
    display: block;
  }

  &-container {
    padding: 2rem;
  }

  &-wrapper {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;

    @include desktop {
      width: 50%;
    }
  }

  &-success {
    &__text {
      font-size: 1.25rem;
      font-weight: 600;
      color: $text-tertiary;
    }

    &__image {
      color: $success;
      font-size: 6.5rem;
    }

    &__icon {
      animation: successAnimation 1s ease-in-out forwards;
    }

    &__actions {
      &-title {
        font-size: 1.25rem;
        font-weight: 600;
      }

      &-wrapper {
        border-radius: 0.5rem;
        padding: 2rem;
        display: flex;
        gap: 1.25rem;
        align-items: center;
        flex-direction: column;
      }

      &-item {
        font-size: 0.9rem;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        padding: 0.5rem;
        padding-left: 2rem;
        text-align: left;

        @include desktop {
          width: 21rem;
        }
      }
    }
  }
}
